$footer_fade_duration: 0.4s;
$desktop-icon-size: 5vw;
$desktop-container-size: 8vw;
$desktop-border-radius: 4vw;
$mobile-icon-size: 13vw;
$mobile-container-size: 20vw;
$mobile-border-radius: 10vw;


.footer {
    width: 100vw;
    height: $desktop-container-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin 0;
    padding: 1.5vw 0 2vw 0;

    @include media-query($on-palm) {
        padding: 0 0 9vw 0;
        height: $mobile-container-size;
    }
}

.footer-icon-background {
    background-color: transparent;
    -webkit-transition: background-color $footer_fade_duration;
    transition: background-color $footer_fade_duration;
    border-radius: $desktop-border-radius;
    width: $desktop-container-size;
    height: $desktop-container-size;
    display: flex;
    margin: 0 1vw;

    @include media-query($on-palm) {
        width: $mobile-container-size;
        height: $mobile-container-size;
        margin: 0 1.5vw;
        border-radius: $mobile-border-radius;
    }
}

.footer-icon-background:hover {
    background-color: #4d756d;
}

.footer-icon {
    width: $desktop-icon-size;
    height: $desktop-icon-size;
    margin: auto;

    @include media-query($on-palm) {
        width: $mobile-icon-size;
        height: $mobile-icon-size;
        margin: auto;
    }
}

.footer-icon svg {
    fill: #4d756d;
    -webkit-transition: fill $footer_fade_duration;
    transition: fill $footer_fade_duration;
}

.footer-icon-background:hover .footer-icon svg {
    fill: white;
}
