$footer_fade_duration: 0.4s;

.footer {
    width: 100vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1vw 0 2.5vw 0;

    @include media-query($on-palm) {
        padding: 0 0 9vw 0;
    }
}

.footer-icon-background {
    background-color: transparent;
    -webkit-transition: background-color $footer_fade_duration;
    transition: background-color $footer_fade_duration;
    border-radius: 4vw;
    width: 8vw;
    height: 8vw;
    display: flex;
    margin: 0 1vw;
}

.footer-icon-background:hover {
    background-color: #4d756d;
}

.footer-icon {
    width: 5vw;
    height: 5vw;
    margin: auto;

    @include media-query($on-palm) {
        width: 10vw;
        height: 10vw;
        margin: 0 1.5vw;
    }
}

.footer-icon svg {
    fill: #4d756d;
    -webkit-transition: fill $footer_fade_duration;
    transition: fill $footer_fade_duration;
}

.footer-icon-background:hover .footer-icon svg {
    fill: white;
}
