.gamejam-container {
    background: var(--color-main);
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.gamejam-title, .gamejam-credits-title {
    font-size: 20px;
}

.video-container iframe, .video-container object, .video-container embed {
    margin: 0 auto;
    width: 60vw;
    height: 37vw;
}
