$fade_in_duration: 0.7s;
$hover-over-color: #4d756d;

.home-page-title, .home-page-description, .home-label, .home-mobile-label {
    font-family: $base-font-family;
    text-align:center;
}

.home-button {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin: 2vw auto;
    display: block;
    width: 45vw;
    padding: 0;
    position: relative;
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-button img {
    max-height: 100%;
}

.animation-wrapper, .animationHome {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.home-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transition: background-color $fade_in_duration;
    transition: background-color $fade_in_duration;
}

.home-overlay:hover {
    background-color: $hover-over-color;
}

.home-label {
    text-align: center;
    top: 50%;
    color: transparent;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: color $fade_in_duration;
    transition: color $fade_in_duration;
}

.home-mobile-label {
    display: none;
}

.home-overlay:hover .home-label {
    color: white;
}

@media screen and (max-width: 480px) and (max-aspect-ratio: 1/1) {
    .home-button {
        width: 90vw;
    }

    .home-mobile-label {
        font-color: white;
        font-size: 20px;
        width: 100vw;
        text-align: center;
        margin-bottom: 6vw;
        display: block;
    }

    .home-label {
        font-size: 16pt;
        margin: 20px 0px 50px 0px;
    }
}
