$fade_in_duration: 0.7s;
$hover-over-color: #4d756d;

$desktop-button-width: 45vw;
$desktop-button-height: 30vw;

$mobile-button-width: 80vw;
$mobile-button-height: 50vw;

@mixin swellImageToFit($width, $height) {
    min-width: $width;
    min-height: $height;
    display: block;
    height: auto;
    width: auto;
}

.home-page-title, .home-page-description, .home-label, .home-mobile-label {
    font-family: $base-font-family;
    text-align:center;
}

.home-button {
    display: flex;
    background-color: white;
    box-shadow: none;
    border: none;
    margin: 2vw auto;
    display: block;
    padding: 0;
    position: relative;
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-button {
    width: $desktop-button-width;
    height: $desktop-button-height;
}

.home-button img {
    @include swellImageToFit($desktop-button-width, $desktop-button-height);
}

.animation-wrapper, .animationHome {
    background-color: white;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.home-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transition: background-color $fade_in_duration;
    transition: background-color $fade_in_duration;
}

.home-overlay:hover {
    background-color: $hover-over-color;
}

.home-label {
    text-align: center;
    top: 50%;
    color: transparent;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: color $fade_in_duration;
    transition: color $fade_in_duration;
}

.home-mobile-label {
    display: none;
}

.home-overlay:hover .home-label {
    color: white;
}

@media screen and (max-width: 480px) and (max-aspect-ratio: 1/1) {
    .home-button {
        width: $mobile-button-width;
        height: $mobile-button-height;
    }

    .home-button img {
        @include swellImageToFit($mobile-button-width, $mobile-button-height);
    }

    .home-mobile-label {
        font-color: white;
        font-size: 20px;
        width: 100vw;
        text-align: center;
        margin-bottom: 6vw;
        display: block;
    }

    .home-label {
        font-size: 16pt;
        margin: 20px 0px 50px 0px;
    }
}
