#dandelion {
    left: 50%;
    margin-left: -305px;
    position: absolute;
    top: 50%;
    margin-top: -375px;
    z-index: 10;
}

.dandelion-idle {
    width: 756px;
    height: 609px;
    background: url('../images/all-dandelions.png') left center;
    animation: playDandelionIdle 0.8s steps(2) infinite;
}

@keyframes playDandelionIdle {
    100% { background-position: -1561px; }
}

.dandelion-blown {
    width: 780px;
    height: 609px;
    background: url('../images/all-dandelions.png') left center;
    animation: playDandelionBlown 1.3s steps(6);
    animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2.5s, opacity 2.5s ease-in;
}

@keyframes playDandelionBlown {
    0% {
        background-position: -1561px;
    }

    100% {
        background-position: -6243px;
    }
}

.squirrel-running {
    width: 712px;
    height: 450px;
    background: url('../images/squirrel-anim.png') left center;
    animation: playSquirrelRun 0.8s steps(8) infinite;
}

@keyframes playSquirrelRun {
    0% { background-position: -5697px; }
    100% { background-position: 0px; }
}

.wolf-front-running {
    width: 546px;
    height: 370px;
    background: url('../images/Front_running_wolf-sprite.png') left center;
    animation: playWolfFrontRun 0.8s steps(9) infinite;
}

@keyframes playWolfFrontRun {
    0% { background-position: 4918px; }
    100% { background-position: 0px; }
}

.jeremy-corbyn-running {
    width: 320px;
    height: 320px;
    background: url('../images/jeremy-corbyn-spritesheet-test.png') left center;
    animation: pixelSpriteRun 0.8s steps(4) infinite;
}

.theresa-may-running {
    width: 320px;
    height: 320px;
    background: url('../images/theresa-may-sprite-sheet.png') left center;
    animation: pixelSpriteRun 0.8s steps(4) infinite;
}

.boris-johnson-running {
    width: 320px;
    height: 320px;
    background: url('../images/boris-johnson-spritesheet.png') left center;
    animation: pixelSpriteRun 0.8s steps(4) infinite;
}

@keyframes pixelSpriteRun {
    0% { background-position: 1280px; }
    100% { background-position: 0px; }
}

.invisible {
    opacity: 0;
}

.fade-in {
    visibility: visible;
    opacity: 100;
    transition: visibility 0s 2.5s, opacity 2.5s ease-in;
}

.anim-preview {
    width: 250px;
    background-color: white;
}

.work-background {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    padding: 0px;
}

.main-animation-body {
    background-color: var(--color-anim-background);
    border: solid;
    border-width: 5px;
    border-color: #000000;
    padding: 10px;
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    margin: 2vw;
    width: 21vw;
    height: 21vw;
    background-color: var(--color-anim-background);
}

.item:hover {
    border: solid;
    border-color: #000000;
}

/* portrait settings */
@media screen and (max-width: 480px) and (max-aspect-ratio: 1/1) {
    .work-background {
        margin-top: 5vh;
        width: 100vw;
    }
    .item {
        margin: 4vw;
        width: 42vw;
        height: 42vw;
    }

    .squirrel-running {
        width: 269px;
        height: 170px;
        background: url('../images/squirrel-anim-mobile-small.png') left center;
        animation: playSquirrelRun 0.8s steps(8) infinite;
    }

    @keyframes playSquirrelRun {
        0% { background-position: -2152px; }
        100% { background-position: 0px; }
    }

    .wolf-front-running {
        width: 249px;
        height: 170px;
        background: url('../images/Front_running_wolf-sprite-mobile-small.png') left center;
        animation: playWolfFrontRun 0.8s steps(9) infinite;
    }

    @keyframes playWolfFrontRun {
        0% { background-position: 2241px; }
        100% { background-position: 0px; }
    }
}
