.illustration_header {
    display: none;
}

@media screen and (max-width: 480px) and (max-aspect-ratio: 1/1) {
    .illustration_header {
        display: visible;
        font-size: 16px;
    }

    .illustration-preview {
        width: 90vw;
    }
}
