---
layout: page
title: Animations
permalink: /animations/
---

<div class="main-body">
    <div id="work-background" class="work-background">
        <div class="main-animation-body">
            <div id="main-animation" class="jeremy-corbyn-running"></div>
        </div>
    </div>

    <div class="menu">
        {% include animation-preview.html css_class="jeremy-corbyn-running" thumbnail_image="../images/jeremy-corbyn.png" %}
        {% include animation-preview.html css_class="theresa-may-running" thumbnail_image="../images/theresa-may.png" %}
        {% include animation-preview.html css_class="boris-johnson-running" thumbnail_image="../images/boris-johnson.png" %}
        {% include animation-preview.html css_class="wolf-front-running" thumbnail_image="../images/Front_running_wolf-still.png" %}
        {% include animation-preview.html css_class="squirrel-running" thumbnail_image="../images/squirrel-indiv.png" %}
    </div>
</div>
