---
layout: page
title: Illustrations
permalink: /illustrations/
---

<div class="main-body">

    <div class="menu">
        {% include illustration-preview.html thumbnail_image="../images/mountain-looking-forward.png" %}
        {% include illustration-preview.html thumbnail_image="../images/looking-back.png" %}

        {% include illustration-preview.html thumbnail_image="../images/trees@2x.png" %}

        {% include illustration-preview.html thumbnail_image="../images/risky-business-win.png" %}
        {% include illustration-preview.html thumbnail_image="../images/risky-business-title.png" %}

        {% include illustration-preview.html thumbnail_image="../images/sardines-win-screen.png" %}
        {% include illustration-preview.html thumbnail_image="../images/sardines-lose-screen.png" %}
        {% include illustration-preview.html thumbnail_image="../images/time-exception-title@0.5x.png" %}
    </div>
</div>
