---
layout: default
---

<div class="main-body">
    <div id="work-background" class="work-background">
        <div class="main-animation-body">
            <div id="main-animation" class="jeremy-corbyn-running"></div>
        </div>
    </div>

    <div class="menu">
        <button class="item" onclick="changeAnimation('jeremy-corbyn-running')">
            <img class="anim-preview" src="images/jeremy-corbyn.png">
        </button>
        <button class="item" onclick="changeAnimation('theresa-may-running')">
            <img class="anim-preview" src="images/theresa-may.png">
        </button>
        <button class="item" onclick="changeAnimation('boris-johnson-running')">
            <img class="anim-preview" src="images/boris-johnson.png">
        </button>
        <button class="item" onclick="changeAnimation('wolf-front-running')">
            <img class="anim-preview" src="images/Front_running_wolf-still.png">
        </button>
        <button class="item" onclick="changeAnimation('squirrel-running')">
            <img class="anim-preview" src="images/squirrel-indiv.png">
        </button>
    </div>
</div>
